on:
  pull_request_target:
    types: [opened, reopened, synchronize, labeled]

permissions:
  pull-requests: write
  checks: read
  contents: read

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge for Dependabot PRs
        if: ${{ github.event.pull_request.user.login == 'dependabot[bot]' }}
        uses: peter-evans/enable-pull-request-automerge@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          merge_method: squash